#canvas { 
	width: 450px;
	height: 450px;
	margin: auto;
}

.box {
	display: inline-block;
	float: left;
	box-sizing: border-box;
}

.outline {
	border-style: dotted;
	border-width: 1px;
	border-color: gray;
}
.header {
	width: 500px;
	text-align: center;
	margin: auto;
	border: 1px solid black;

}
.controls {
	width: 500px;
	text-align: center;
	margin: auto;
}
button {
	font-size: 1.25em;
	font-family: 'roboto';
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 30px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}
button:hover {
	background-color: gray;
}
.header h1{
	font-family: 'roboto';
}